<!-- je ne comprend pas comment la route est display correctement dans l'url...
c'est grace au path donné dans le approuting -->
<nav class="navbar navbar-light bg-dark text-white">
  <div class="container-fluid">
    <div>
      <!-- hidden est une balise html (un attribut) [hidden]="condition" signifie : j'applique la balise hidden 
      si la condition est remplie -->
      <a class="btn btn-primary" routerLink="/" [hidden]="hideButton('/')">
        Accueil
      </a>
      <a class="btn btn-primary" [routerLink]="urlHeroes" [hidden]="hideButton(urlHeroes)">
        {{ sliceUrl(urlHeroes)|titlecase }}
      </a>
      <a class="btn btn-primary" [routerLink]="urlPokemonList" [hidden]="hideButton(urlPokemonList)">
        {{ sliceUrl(urlPokemonList)|titlecase }}
      </a>
    </div>
    Angular IPME
  </div>
</nav>

